.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    min-width: 120px;
    height: 32px;
    border-radius: 16px;

    background-color: #713CF0;
    color: #fff;
}

.container img {
    margin: 5px;
}