.button_container {
    margin: 12px;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 10px;

    font-weight: bold;
    font-size: 16px;
    line-height: 19px;

    color: #fff;
}
