.container_page {
  display: flex;
  flex-direction: column;
  background-color: #5D2AD6;
  --text_secondary: #ffffff;
}
.input {
  --text_primary: #FF921D;
  margin: 12px;
}

.adsFixed {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.falseBlock {
  z-index: -9999;
  background-color: #5D2AD6;
}

.organizer {
  margin-bottom: 10px;
  a {
    text-decoration: none;
    cursor: default;
  }
}
