.root {
  a {
    pointer-events: none;
    display: none;
  }
  p {
    font: inherit;
    line-height: inherit;
    color: inherit;
  }
  > *, > div > * {
    &:first-child {
      margin-top: 0 !important;
    }
    &:last-child {
      margin-bottom: 0 !important;;
    }
  }
}
