.background_color {
    position: fixed;
    background-color: #5D2AD6;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.background_img {
    background-image: url(./../../../assets/img/backgroundPage.svg);
    background-size: cover;
    overflow: hidden;
    position: fixed;
    top: 65px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}
